.root {
  background-color: #0d26fc;
  border-radius: 1%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.select {
  margin-left: 0.5rem;
  margin-top: 0.45rem;
  margin-bottom: 0.75rem;
}
