/* .grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
} */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
}
