.title400 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
}

.title600 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}

.subtitle400 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
}

.label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}

.input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}
